@use "../abstracts" as *;

.search {
    margin-block-start: 85px;
    width: min(100%, 742px);

    &__by {
        display: flex;

        label {
            padding-inline: $size-7;
            padding-block: $size-7;
            border-top-left-radius: $radius-5;
            border-top-right-radius: $radius-5;
            border-color: transparent;
            border-width: 1px 1px 0;
            border-style: solid solid none;
            background-color: transparent;
            margin-block-end: -1px;
            cursor: pointer;
            color: $color-gray-medium;
            transition: color $transition-duration-slow, background-color $transition-duration-slow, border-color $transition-duration-slow;
            font-family: $font-secondary;

            &:is(:hover, :focus-within) {
                color: $color-primary;
            }

            &:has(input:checked) {
                border-color: $color-primary $color-primary $color-white;
                background-color: $color-white;
                color: $color-primary;
            }
        }
    }

    &__field {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding: $size-10;
        gap: $size-8;
        border-top-left-radius: 0;
        border-top-right-radius: $radius-5;
        border-bottom-left-radius: $radius-5;
        border-bottom-right-radius: $radius-5;
        border-color: $color-primary;
        border-width: 1px;
        border-style: solid;
        background-color: $color-white;

        @include mq(small) {
            flex-direction: row;
        }

        input {
            width: 100%;
            min-height: 60px;
            border-radius: $radius-5;
            border: 1px solid rgba(214, 214, 214, 1);
            padding-inline: $size-10;
        }
    }

    &__btn {
        flex-shrink: 0;
    }
}