.skip-to-content {
    position: absolute;
    z-index: 9999;
    background: var(--color-white);
    color: var(--color-dark);
    padding: 0.5em 1em;
    margin-inline: auto;
    transform: translateY(-100%);
    transition: transform 250ms ease-in;
}

.skip-to-content:focus {
    transform: translateY(0);
}